<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/event/css/event.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/event/css/events.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/event/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/event/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap/css/bootstrap-responsive.min.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if app.session.flashBag.has('success') %}
    <div class="alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% block body %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/event/js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/event/js/jquery.blockUI.js') }}"></script>
{% endblock %}
</body>
</html>
